/*login=============================================================================================*/
.bold{
    font-weight: bold;
}
.font-35{
    font-size: 35px;
}
.font-15{
    font-size: 15px;
}
.input-pad{
    padding: 20px 40px;
    border-radius: 5px;
    background-color: #fff;
}
.label-pad{
    padding: 20px 40px;
}
.md-form input:not([type]):focus:not([readonly]), .md-form input[type=date]:not(.browser-default):focus:not([readonly]), .md-form input[type=datetime-local]:not(.browser-default):focus:not([readonly]), .md-form input[type=datetime]:not(.browser-default):focus:not([readonly]), .md-form input[type=email]:not(.browser-default):focus:not([readonly]), .md-form input[type=number]:not(.browser-default):focus:not([readonly]), .md-form input[type=password]:not(.browser-default):focus:not([readonly]), .md-form input[type=search-md]:focus:not([readonly]), .md-form input[type=search]:not(.browser-default):focus:not([readonly]), .md-form input[type=tel]:not(.browser-default):focus:not([readonly]), .md-form input[type=text]:not(.browser-default):focus:not([readonly]), .md-form input[type=time]:not(.browser-default):focus:not([readonly]), .md-form input[type=url]:not(.browser-default):focus:not([readonly]), .md-form textarea.md-textarea:focus:not([readonly]){
    border-bottom: none;
    box-shadow: none;
}
.md-form input:not([type]):focus:not([readonly])+label, .md-form input[type=date]:not(.browser-default):focus:not([readonly])+label, .md-form input[type=datetime-local]:not(.browser-default):focus:not([readonly])+label, .md-form input[type=datetime]:not(.browser-default):focus:not([readonly])+label, .md-form input[type=email]:not(.browser-default):focus:not([readonly])+label, .md-form input[type=number]:not(.browser-default):focus:not([readonly])+label, .md-form input[type=password]:not(.browser-default):focus:not([readonly])+label, .md-form input[type=search-md]:focus:not([readonly])+label, .md-form input[type=search]:not(.browser-default):focus:not([readonly])+label, .md-form input[type=tel]:not(.browser-default):focus:not([readonly])+label, .md-form input[type=text]:not(.browser-default):focus:not([readonly])+label, .md-form input[type=time]:not(.browser-default):focus:not([readonly])+label, .md-form input[type=url]:not(.browser-default):focus:not([readonly])+label, .md-form textarea.md-textarea:focus:not([readonly])+label{
    color: #1caa53;
}
.md-form input:not([type]), .md-form input[type=date]:not(.browser-default), .md-form input[type=datetime-local]:not(.browser-default), .md-form input[type=datetime]:not(.browser-default), .md-form input[type=email]:not(.browser-default), .md-form input[type=number]:not(.browser-default), .md-form input[type=password]:not(.browser-default), .md-form input[type=search-md], .md-form input[type=search]:not(.browser-default), .md-form input[type=tel]:not(.browser-default), .md-form input[type=text]:not(.browser-default), .md-form input[type=time]:not(.browser-default), .md-form input[type=url]:not(.browser-default), .md-form textarea.md-textarea{
    border-bottom:none;
}
@media screen and (min-width: 992px) {
    .media-pl-5{
        padding-left: 3rem;
    }
}
@keyframes float {
    0% {
        transform: translatey(0px);
    }
    50% {
        transform: translatey(-20px);
    }
    100% {
        transform: translatey(0px);
    }
}
.avatar {
    transform: translatey(0px);
    animation: float 6s ease-in-out infinite;
    img { width: 100%; height: auto; }
}
.login-btn{
    background-color: #1caa53;width: 150px;height: 50px;text-transform: capitalize;
}
.forgot-link{
    color: #9896a2;float: right;
}
.bg-theme{
    background-color: #1d1b27;
}
.max-width-500{
    max-width: 500px;
}
.text-grey{
    color: #757575;
}
/*dashboard=========================================================================================*/
body{
    font-family: 'Roboto', sans-serif;
}
@media screen and (min-width: 992px) {
    .media-min-d-none{
        display: none;
    }
    .media-min-border-radius{

    }
}
.slimScrollBar{
    background-color: #1caa53 !important;color: #1caa53 !important;opacity: 0.7 !important;
}
.menu .list .active a{
    border-left:4px solid #1caa53;
    background-color: #242231 !important;
    color: #fff;
}
.container-fluid{
    padding-left: 35px !important;
    padding-right: 35px !important;
}
/*rotate dots*/
.outerCircle {
    overflow: hidden;
background-color: transparent;
opacity: .9;
width: 100%;
height: 100%;
position: relative;
-moz-animation: spinoffPulse 10s infinite linear;
-webkit-animation: spinoffPulse 10s infinite linear;
}
@-moz-keyframes spinPulse {
    0% { -moz-transform:rotate(160deg); opacity:0; box-shadow:0 0 1px #bdd73c;}
    50% { -moz-transform:rotate(145deg); opacity:1; }
    100% { -moz-transform:rotate(-320deg); opacity:0; }
}
@-moz-keyframes spinoffPulse {
    0% { -moz-transform:rotate(0deg); }
    100% { -moz-transform:rotate(360deg);  }
}
@-webkit-keyframes spinPulse {
    0% { -webkit-transform:rotate(160deg); opacity:0; box-shadow:0 0 1px #bdd73c; }
    50% { -webkit-transform:rotate(145deg); opacity:1;}
    100% { -webkit-transform:rotate(-320deg); opacity:0; }
}
@-webkit-keyframes spinoffPulse {
    0% { -webkit-transform:rotate(0deg); }
    100% { -webkit-transform:rotate(360deg); }
}
.md-form label{
    top: -5px;
}
/*custom upload image on backend*/
.input-group{  
    margin-left:0px;
}
.loading{
    animation:blinkingText ease 2.5s infinite;
}
